*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

a {
  color: inherit; }
  a:link, a:visited, a:hover, a:active {
    color: inherit;
    text-decoration: none; }

body {
  font-size: 62.5%;
  font-family: 'Raleway', sans-serif; }

.h1 {
  font-size: 4rem; }

.h2 {
  font-size: 3.5rem; }

.h3 {
  font-size: 3rem; }

.h4 {
  font-size: 2.5rem; }

.h5 {
  font-size: 1.5rem; }

.h6 {
  font-size: 1rem;
  font-style: italic; }

input, textarea {
  font-family: inherit;
  font-style: inherit; }

/**
* Animation to fade the screen while the page is scrolled to the contact form
* Style is applied to a div covering the whole screen
*/
.overlay {
  opacity: 1;
  transition: opacity 0.25s; }

.fade-out {
  opacity: 0; }

.black-background {
  background-color: black; }

/**
* SocialBanner Styles
*/
.social-banner {
  padding: 0.5rem;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .social-banner__list-item {
    padding: 0 0.3rem;
    list-style: none;
    display: inline-grid;
    grid-template-columns: auto; }

/**
* Article Snapshot Styles
*/
.article-snapshot {
  border: 1px solid darkgray;
  display: flex;
  margin: 0 auto;
  margin-bottom: 2rem;
  min-height: 20rem;
  width: 100%; }
  .article-snapshot:hover {
    cursor: pointer; }
  .article-snapshot__img-container {
    flex: 1 1 30%;
    overflow: hidden;
    background-size: cover; }
  .article-snapshot__img {
    width: 150%; }
  .article-snapshot__content-container {
    flex: 1 1 70%; }
  .article-snapshot__heading {
    text-align: center;
    font-size: 2.5rem;
    text-transform: uppercase;
    padding: 1rem; }
  .article-snapshot__text {
    font-size: 1rem;
    padding: 1rem;
    line-height: 1.3; }
    .article-snapshot__text--small {
      font-size: 0.65rem;
      padding-left: 1rem; }

/**
* Navigation Component Styles
*/
.navigation-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  flex: 0 1 60%; }

.navigation {
  padding: 2rem;
  width: 100%; }
  .navigation__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1rem; }
    .navigation__list-item {
      padding: 1rem;
      border-radius: 15px;
      width: 4rem;
      list-style: none;
      text-align: center; }
  .navigation__link {
    text-decoration: none;
    color: white; }
  .navigation__link:visited, .navigation__link:link {
    text-decoration: none; }

.nav-bar-item {
  min-height: 2rem;
  background-color: black;
  color: white !important;
  font-size: 1rem; }

.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background-size: 100% 100%;
  background: white no-repeat center center; }

.nav-hamburger {
  max-height: 1rem; }

/**
* ArticlesContainer styles
*/
.articles-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem; }

/**
* HeaderBanner Styles
*/
.header-banner {
  z-index: 100000;
  height: 7rem;
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  align-items: center;
  background-color: black; }
  .header-banner__title {
    margin-left: 2rem;
    color: white;
    display: flex;
    align-items: center;
    flex: 1 1 60%; }
  .header-banner__filler {
    height: 7rem; }

.search {
  display: flex;
  width: 100%; }
  .search__svg {
    height: 3rem;
    width: 1.5rem;
    margin-right: 0.5rem; }
  .search__input {
    height: 3rem;
    border: none;
    border-bottom: 2px solid lightgray;
    width: 80%;
    max-width: 15rem; }
    .search__input:focus {
      outline-width: 0; }
  .search__button {
    height: 3rem;
    background-color: #333;
    color: white;
    padding: 0 0.5rem;
    font-size: 1rem;
    border-style: none; }

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: red;
  opacity: 1;
  /* Firefox */ }

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: red; }

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: red; }

@media (min-width: 420px) {
  .get-in-touch {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;
    cursor: pointer; }
    .get-in-touch__text {
      padding: 0.5rem 2rem;
      border: 1px solid white;
      color: white;
      font-size: 1rem;
      transition: all 0.5s; }
      .get-in-touch__text:hover {
        color: black;
        background-color: white; } }

.hero-banner {
  background-color: black;
  height: 15rem;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin: 0;
  align-items: center; }
  .hero-banner__primary-text {
    padding: 1rem; }
  .hero-banner__secondary-text {
    padding-bottom: 2rem; }

.contact-form {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  justify-content: space-evenly;
  height: 30rem;
  width: 50%; }
  .contact-form__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex: 0 1 100%; }
  .contact-form__input {
    display: inline-block;
    margin-bottom: 0.5rem;
    border: 1px solid white;
    color: white;
    background-color: black;
    padding: 1rem;
    width: 100%; }
    .contact-form__input--large {
      height: 10rem; }
  .contact-form__submit {
    align-self: flex-start; }

::placeholder {
  color: white;
  opacity: 1; }

.side-banner {
  width: 100%;
  height: auto;
  align-self: flex-start;
  margin-top: 5rem;
  margin-left: 2rem; }
  .side-banner__heading-container {
    text-align: center;
    margin-bottom: 1rem;
    max-width: 20rem; }
  .side-banner__heading-text {
    font-size: 1.5rem; }
  .side-banner__content {
    background-color: #444;
    max-width: 20rem; }

.contact-form {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  justify-content: space-evenly;
  height: 30rem;
  width: 50%; }
  .contact-form__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex: 0 1 100%; }
  .contact-form__input {
    display: inline-block;
    margin-bottom: 0.5rem;
    border: 1px solid white;
    color: white;
    background-color: black;
    padding: 1rem;
    width: 100%; }
    .contact-form__input--large {
      height: 10rem; }
  .contact-form__submit {
    align-self: flex-start; }

::placeholder {
  color: white;
  opacity: 1; }

.social-media {
  height: 2rem;
  width: 2rem;
  display: flex;
  justify-content: center;
  align-content: center;
  display: flex;
  justify-content: center;
  align-items: center; }
  .social-media a {
    z-index: 10;
    height: 50%;
    width: 50%; }
  .social-media__svg {
    z-index: 2;
    height: 100%;
    width: 100%; }

.btn {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 0.5rem 2rem;
  transition: background-color 0.5s, color 0.5s; }
  .btn__text {
    padding: 0.5rem 2rem;
    font-size: 1rem;
    margin: 0; }
  .btn:hover {
    cursor: pointer; }
  .btn--white {
    background-color: white;
    color: black;
    border: 1px solid black; }
    .btn--white:hover {
      color: white;
      background-color: black;
      border: 1px solid white; }
  .btn--black {
    background-color: black;
    color: white;
    border: 1px solid white; }
    .btn--black:hover {
      color: black;
      background-color: white;
      border: 1px solid black; }

.footer {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  background-color: black;
  width: 100%;
  height: 20rem;
  color: white;
  padding-top: 8rem;
  padding-bottom: 5rem; }
  .footer__content {
    display: flex;
    justify-content: space-around;
    align-items: center; }
  .footer__img {
    height: auto;
    width: auto;
    min-width: 20%; }
    .footer__img img {
      width: 100%;
      height: 100%; }
  .footer__btn {
    width: 20%; }
  .footer__list {
    flex: 0 1 30%;
    columns: 1;
    list-style: none; }
    .footer__list-element {
      font-size: 1rem;
      padding: 0.25rem; }
  .footer__bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }

.meet {
  padding: 4rem; }
  .meet__row {
    width: 100%;
    margin: 0 auto; }
  .meet__heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem; }
    .meet__heading > h3 {
      font-style: normal;
      margin-bottom: 1rem; }
  .meet__cards {
    display: flex;
    flex-direction: column;
    justify-content: space-around; }

.hr {
  height: 3px;
  width: 10%;
  background-color: black; }

.person-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
  height: auto;
  width: 100%; }
  .person-card__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 10rem;
    width: 100%; }
    .person-card__content > p {
      font-size: 1rem;
      text-align: center; }
  .person-card__img {
    margin-bottom: 1.5rem;
    width: 100%;
    max-width: 400px; }
    .person-card__img > img {
      border-radius: 50%;
      width: 100%; }
  .person-card__svg {
    height: 3rem; }

.mini-article {
  display: flex;
  background-color: #444;
  color: white;
  padding: 1.5rem;
  align-items: center;
  width: 100%; }
  .mini-article__image {
    padding: 0.75rem; }
    .mini-article__image > img {
      width: 100%; }

.article-filter {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-width: 20rem;
  height: 3rem; }

.login {
  min-height: 20rem;
  width: 25%;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #AAA;
  padding: 2rem; }
  .login__heading {
    height: 2rem;
    text-align: center;
    font-size: 1.5rem; }
  .login__form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 50%; }
  .login__input {
    height: 2rem; }
  .login label {
    font-size: 1rem; }
  .login__button {
    margin-top: 2rem;
    padding: 1.25rem; }

.black-background {
  background-color: black; }

.searchresults {
  width: 75%;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: calc(100vh - 4rem - 7rem - 20rem); }
  .searchresults__heading {
    margin-bottom: 2rem; }
    .searchresults__heading > * {
      font-weight: 100; }
  .searchresults__search {
    display: flex;
    align-items: center;
    width: 100%;
    border: 1px solid darkgray;
    padding: 0.5rem; }
    .searchresults__search-icon {
      width: 1rem;
      height: 1rem;
      margin-right: 0.25rem; }
  .searchresults__tags {
    display: flex;
    border-bottom: 1px solid darkgray;
    margin: 2rem 0;
    align-self: flex-start; }
    .searchresults__tags > * {
      margin: 0.5rem;
      border-right: none !important;
      border-left: none !important;
      border-top: none !important; }
  .searchresults__results {
    align-self: flex-start;
    width: 100%; }
  .searchresults__input {
    border: none;
    display: inline-block;
    width: 100%; }
    .searchresults__input:focus {
      outline-width: 0; }

.tag {
  border: 1px solid black;
  padding: 0.5rem;
  min-width: 3rem;
  text-align: center; }
  .tag:hover {
    cursor: pointer; }

.ck-heading_paragraph {
  font-size: 4rem;
  color: blue !important;
  line-height: 4rem; }

.h2 {
  font-size: 6rem; }

.admin-options__list {
  display: flex;
  flex-direction: column; }

.create-article {
  display: flex;
  flex-direction: column; }
  .create-article__label {
    font-size: 1.2rem; }
  .create-article__input {
    width: 25%; }
  .create-article__button {
    width: 20%;
    border: 2px solid black;
    margin: 1rem 0;
    display: flex;
    align-content: center;
    justify-content: center; }

.article {
  background-color: white; }
  .article__col {
    display: flex;
    justify-content: space-around; }
  .article__row {
    margin-bottom: 2rem; }

.edit-article {
  display: flex;
  flex-direction: column; }

.homepage__map {
  justify-content: space-around;
  display: flex;
  padding-top: 2rem;
  align-items: center; }

.homepage__content {
  display: flex;
  justify-content: center;
  margin: 2rem; }
  .homepage__content-leftColumn {
    flex: 0 1 100%; }
  .homepage__content-rightColumn {
    flex: 0 1 20%; }

.homepage__contact {
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center; }

.search-and-content-container {
  margin: 2rem; }

.post-filter-and-search {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem; }
