.hero-banner {
  background-color: black;
  height: 15rem;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin: 0;
  align-items: center;

  &__primary-text {
    padding: 1rem;
  }

  &__secondary-text {
    padding-bottom: 2rem;
  }

}