$searchbar-height: 3rem;

.search {
  display: flex;

  &__input {
    height: $searchbar-height;
    border: none;
    border-bottom: 2px solid lightgray;

    &:focus {
      outline-width: 0;
    }

    // &::before {
    //   content: "ic"
    // }
  }

  &__button {
    height: $searchbar-height;
    background-color: #333;
    color: white;
    padding: 0 0.5rem;
    font-size: 1rem;
    border-style: none;
    
  }
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: red;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: red;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: red;
}

