.social-media {
  height: 2rem;
  width: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;

  // position the anchors (children) in the middle of the element
  display: flex;
  justify-content: center;
  align-items: center;

  & a {
    z-index: 10;
    height: 50%;
    width: 50%;
  }

  &__svg {
    z-index: 2;
    height: 100%;
    width: 100%;
  }
}