.homepage {

  &__map {
    justify-content: space-around;
    display: flex;
    padding-top: 4rem;
    align-items: center;
  }
  
  &__content {
    display: flex;
    justify-content: center;
    margin: 2rem;


    &-leftColumn {
    flex: 0 1 100%;
    }

    &-rightColumn {
      flex: 0 1 20%;
    }
  }

  &__contact {
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

}

.search-and-content-container {
  margin: 2rem;
}

.post-filter-and-search {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}