/**
* Navigation Component Styles
*/

.navigation-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  flex: 0 1 60%;
}

.navigation {
  padding: 2rem;
  width: 100%;

  &__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1rem;

    &-item {
      padding: 1rem;
      border-radius: 15px;
      width: 4rem;
      list-style: none;
      text-align: center;
    }
  }
  &__link {
    text-decoration: none;
    color: white;
  }

  &__link:visited,
  &__link:link {
    text-decoration: none;
  }
}

.nav-bar-item {
  min-height: 2rem;
  background-color: black;
  color: white !important;
  font-size: 1rem;
}

.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background-size: 100% 100%;
  background: white no-repeat center center;
}

.nav-hamburger {
  max-height: 1rem;
}
