/* This is for page-specific CSS, according to the headings below */
/* Remember that if you're gonna add something here, you probably actually want Bootstrap instead. */
/* Orange highlight color: #ffb347 */
/* Red highlight color: rgba(234, 86, 68, 0.8)*/


/* --- Trend list styles --- */

.modal-audience-filter {
    transition: background-color 0.3s ease;
    display: flex;
    flex-direction: column;
    width: 120px;
    height: 120px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.modal-audience-filter.active {
    background-color: rgba(234, 86, 68, 0.8);
}

.modal-audience-filter p {
    margin: 0;
    padding: 0;
}

#audience-filter {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 15px;
}

#audience-filter button.trend-filter {
    margin: 5px;
    flex-grow: 1; /* Buttons tile and fill the flex container */
    border-radius: 0;
}

.modal-open .modal.modal-center {
    display: flex!important;
    align-items: center!important;
}

#audience-filter-modal .modal-header {
    border: none;
    background-color: #ea5644;
}

#audience-filter-modal .modal-body {
    padding: 30px 30px 15px 30px;
    background-color: #232323;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#audience-filter-modal .modal-footer {
    border: none;
    background-color: #232323;
}

#audience-filter-modal button {
    flex-grow: 1;
    margin: 5px;
    background-color: white;
}

.card, .card-img, .card-text {
    color: white;
    border-radius: 0;
}

/* Cards used to display each trend */
#card-container {
    flex-direction: row;
    flex-wrap: wrap;
}

#card-container .card {
    border: 1px solid #E2E5E8;
    overflow: hidden;
}

.card-img-overlay {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}

.card-img {
    width: 100%;
    height: 40%;
    -o-object-fit: cover;
    object-fit: cover;
    opacity: 0.75;
    overflow: hidden;
    transition: all 1s ease;
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.card:hover .card-img, .card.hover_effect .card-img {
    opacity: 0.4;
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
}

.card-title {
    color: #232323;
    background-color: #f8f9fa;
    padding: 5px 0;
    line-height: 1.1em;
    letter-spacing: 0;
}

.animated-title {
    padding: 0;
    top: 100%; /* Push down 100% of card height */
    transform: translateY(-100%); /* Flip vertically so it sits nicely at the bottom */
    text-align: center;
    position: relative;
    width: 100%;
    transition: all 0.4s ease;
}

.animated-title h2 {
    margin: 0;
}

.card:hover .animated-title, .card.hover_effect .animated-title {
    top: 0;
    transform: translate(0,0);
}

.hidden-overlay {
    transition: all 0.4s ease;
    opacity: 0;
    pointer-events: none;
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
    top: 50%;
    width: 100%;
}

.card:hover .hidden-overlay, .card.hover_effect .hidden-overlay {
    top: 0;
    flex-grow: 1;
    opacity: 1;
}

.hidden-text {
    pointer-events: none;
    height: fit-content;
    padding: 0 20px;
    overflow: hidden;
}

.badge, .badge-secondary {
    margin-bottom: 0;
}

.badge:hover, .badge-secondary:hover {
    cursor: pointer;
}

/* --- Trend page styles --- */

#trend-name {
    margin-bottom: 30px;
}

.related_project,
.related_trend {
    overflow: auto;
    padding: 15px 0;
    border-top: 1px solid white;
}
.related_project h5,
.related_trend h5 {
    line-height: 1.2;
}
.related_project p,
.related_trend p {
    margin-bottom: 0;
    font-size: 14px;
}
.related_project img,
.related_trend img {
    width: 50%;
    float: left;
    margin-right: 10px;
    padding-top: 5px;
}
button.load {
    margin-top: 20px;
}


/* --- Project page styles --- */

#content-background {
    background-size: cover;
}

.content-overlay {
    background-color: rgba(0,0,0,0.3);
    padding-top: 20px;
    padding-bottom: 20px;
}

#tags {
    margin-top: 30px;
}


/* --- Principles page styles --- */

#principles .principle-row {
    margin-bottom: 15px;
}
#principles .principle-description {
    padding-left: 30px;
}
#principles p.principle {
    margin-bottom: 0;
}
#principles p.principle i {
    width: 50px;
    vertical-align: middle;
    margin-right: 10px;
    margin-left: 15px;
}
@media screen and (max-width: 767px) {
    #principles .principle-description {
        margin-top: 10px;
    }
}

.btn-load{
    background-color: #ea5644;
    border-color:#ea5644;
    color:#fff;

}
.btn-load:hover{
    background-color:#bb4436;
    border-color:#bb4436;
    color:#fff;
}

/* Parallax Page Style */

#trend-background {
    position: fixed;
    top: -20%;
    right: -50%;
    width: 200%;
    height: 200%;
    opacity: 0.3;
}

#project-background {
    position: fixed;
    top: -20%;
    right: -50%;
    width: 200%;
    height: 200%;
    opacity: 0.3;
}

#techlab-background {
    position: fixed;
    top: -20%;
    right: -50%;
    width: 200%;
    height: 200%;
    opacity: 0.3;
}