/* This is for global CSS that doesn't affect particular pages. */
/* Remember that if you're gonna add something here, you probably actually want Bootstrap instead. */

/* bg-color: #232323
      color: #E2E5E8
*/

/* ------------------------- */
/* ----- Primary Style ----- */
/* ------------------------- */

html {
    position: relative;
    min-height: 100%;
    letter-spacing: 0.1em;
    background-color: #ea5644;
}

body {
    font-family: "Open Sans", sans-serif; /* Serif body font */
    font-weight: 300;
    font-style: normal;
    background-color: #232323;
    color: #E2E5E8;
    height: 100%;
    opacity: 1;
    transition: 1s opacity;
    overflow-x: hidden;
}

body.fade-out {
    opacity: 0;
    transition: none;
}

/* Header and Navbar */

header {
    padding-top: 20px;
    border-bottom: 1px white solid;
    opacity: 0.99;
}

header nav.navbar {
    align-items: baseline; /* Align the navbar links to the bottom of the nav, rather than center */
}

a.nav-link.active {
    background-color: rgba(234, 86, 68, 0.8);
}

header nav h1 {
    margin-bottom: 0;
}
header nav ul.navbar-nav {
    margin-right: 15px; /* Bit of space between page links and the search input */
}
header a.navbar-brand {
    padding: 0;
}

header .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: calc(0.5rem - 2px);
    padding-right: -webkit-calc(0.5rem - 2px);
    padding-right: -moz-calc(0.5rem - 2px);
    padding-left: 0.5rem;
}

header .navbar {
    padding: .4rem 0;
}

header .input-group i {
    line-height: inherit; /* Override the FA line-height of 1 to match the Bootstrap input group */
}

header .input-group input {
    height: 40px; /* Adjust the input height slightly to match the button */
}

main {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Core Font Style */

a,
a:visited,
.navbar-dark .navbar-nav .nav-link {
    transition: all 0.25s ease;
    color: #E2E5E8;
}

a:hover,
.navbar-dark .navbar-nav .nav-link:hover {
    color: #ffb347;
    text-decoration: none; /* Don't underline links on hover */
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Quicksand", sans-serif; /* Nick's fave font for headers */
    font-weight: 100; /* Bold boy headers */
    line-height: 1.5; /* Override the default bootstrap line height to add space between lines */
}

hr {
    border-color: #E2E5E8;
}

/* Core Button Style */

button {
    cursor: pointer;
}

.btn-theme {
    color: #fff;
    background-color: #ea5644;
    border-color: #ea5644;
}
.btn-theme:hover {
    color: #fff;
    background-color: #bb4436;
    border-color: #bb4436;
}
.btn:focus {
    box-shadow: none;
}

.hover {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}


/* ---------------------- */
/* ----- Responsive ----- */
/* ---------------------- */

/* Settings for xlg and smaller screens */
@media screen and (max-width: 2560px) {
    .container {
        max-width: 90%; /* Make the site full-width on any md screen or smaller */
    }

    .card-title {
        font-size: 1.3em; /* Reduce font size for smaller screens */
    }
}

/* Settings for lg and smaller screens */
@media screen and (max-width: 1199px) {
}

/* Settings for md and smaller screens */
@media screen and (max-width: 991px) {

    .container {
        max-width: 100%; /* Make the site full-width on any md screen or smaller */
    }
    .card-title {
        font-size: 1.3em; /* Reduce font size for smaller screens */
    }

}

/* Settings for md and larger screens */
@media screen and (min-width: 768px) {

    #card-container .card-wrapper {
        flex-basis: 50%;
        padding: 10px;
    }
}

/* Settings for sm and smaller screens */
@media screen and (max-width: 767px) {

    header nav ul.navbar-nav {
        margin-right: 0;
    }

    .navbar-collapse {
        text-align: center;
        justify-content: center;
    }

    header {
        padding-top: 0;
    }

    .heading-resp {
        margin-top: 10px;
        font-size: 22px;
    }

    .card-title {
        font-size: 2em;
    }

    #card-container .card-wrapper {
        flex-basis: 100%; /* Full-width cards on small screens */
        padding: 0.75rem 0; /* No left/right padding on small screens */
    }

    body {
        font-weight: 400;
    }

    #audience-filter-modal div.modal-body {
        padding: 15px 20px 0 20px;
    }

    #audience-filter-modal div.modal-audience-filter {
        height: 120px;
    }

    .related-column {
        margin-top: 50px;
    }
}

/* Settings for xs screens */
@media screen and (max-width: 543px) {

    .card-title {
        font-size: 1.5rem;
    }

    .navbar {
        padding-left: 0;
        padding-right: 0;
    }

    .navbar-toggler {
        padding-left: 10px;
        padding-right: 10px;
    }

    .card-img-overlay {
        margin-left: -10px;
        margin-right: -10px;
    }

    .card:hover .hidden-overlay, card.hover_effect .hidden-overlay {
        height: 80%; /* Slightly more height to make up for the smaller title */
    }

    h1.display-4 {
        font-size: 2.5rem; /* On xs screens, tone down the massive page headers */
    }

    body {
        font-weight: 400;
    }

}


/* ------------------ */
/* ----- Search ----- */
/* ------------------ */

#search {
    z-index: 10;
    pointer-events: none;
    position: fixed;
    margin: 0 auto;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0;

    -webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;

    -webkit-transform: translate(0px, 0px) scale(0.8);
	-moz-transform: translate(0px, 0px) scale(0.8);
	-o-transform: translate(0px, 0px) scale(0.8);
	-ms-transform: translate(0px, 0px) scale(0.8);
	transform: translate(0px, 0px) scale(0.8);
}

#search.open  {
    opacity: 1;
    pointer-events: all;

    -webkit-transform: translate(0px, 0px) scale(1);
    -moz-transform: translate(0px, 0px) scale(1);
	-o-transform: translate(0px, 0px) scale(1);
	-ms-transform: translate(0px, 0px) scale(1);
	transform: translate(0px, 0px) scale(1);
}

#search .close {
    position: fixed;
    top: 15px;
    right: 15px;
    color: #fff;
	opacity: 0;
	padding: 10px 17px;
	font-size: 27px;
}

#search input[type="search"] {
    font-family: "Quicksand", sans-serif;
    width: 100%;
    background-color: transparent;
    color: #ffb347;
    font-size: 11vw; /* Font size scales with the screen width */
    font-weight: 100;
    text-align: center;
    border: none;
    outline: none;
}

.search-title {
    position: relative;
}

#close-search {
    background-color: transparent;
    color: #969696;
    font-size: 20px;
    border: none;
    opacity: 1;
    position: absolute;
    top: 3%;
    right: 2%;
}

/* Blur for search */

.blur.off {
    -webkit-filter: blur(0px);
    -ms-filter: blur(0px);
}

.blur.on {
    -webkit-filter: blur(9px);
    -ms-filter: blur(9px);
}

/* Search x Button Style */

#close-search:hover {
    color: rgba(243, 107, 50, 0.6);
}
#close-search:focus {
    outline: none;
}

/* Search Results Style */

#results {
    overflow-y: scroll;
}

.flex-column {
    display: flex;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #969696;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #969696;
   opacity:  1;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #969696;
   opacity:  1;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #969696;
}

:-ms-input-placeholder { /* Microsoft Edge */
   color:    #969696;
}


/* ------------------------------ */
/* -----Parallax Backgrounds----- */
/* ------------------------------ */

.parallax {
    perspective: 1px;
    height: 100vh;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
}

.parallax__layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.parallax__layer--base {
    transform: translateZ(0);
}

.parallax__layer--back {
    transform: translateZ(-10px) scale(8);
}

#transparent-background {
    background: none;
    padding: 20px;
}

.big-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #232323;
    opacity: 0.7;
    border-style: none;
    overflow-x: hidden;
}

/* ---------------------- */
/* -----Footer Style----- */
/* ---------------------- */

.footer1 {
    background: rgba(0, 0, 0, 0.5);
}

#footer-rule {
    margin-bottom: 40px;
    margin-top: 0;
    position: relative;
}

.footer-to-bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer-bottom {
    margin-top: 20px;
    background-color: #ea5644;
    min-height: 30px;
    width: 100%;
    pointer-events: none;
    opacity: 0.99;
}

/* Title Widget Style */

.title-widget {
	color: #898989;
	font-size: 20px;
	font-weight: 300;
	line-height: 1;
	position: relative;
	text-transform: uppercase;
    margin: 0 0 25px 0;
	padding-left: 28px;
}

.title-widget::before {
    background-color: #ea5644;
    content: "";
    height: 22px;
    left: 0;
    position: absolute;
    top: -2px;
    width: 5px;
}

.widget_nav_menu ul {
    list-style: outside none none;
    padding-left: 0;
}

.widget_archive ul li {
    background-color: rgba(0, 0, 0, 0.3);
    content: "";
    height: 3px;
    left: 0;
    position: absolute;
    top: 7px;
    width: 3px;
}

.widget_nav_menu ul li {
    font-size: 13px;
    font-weight: 700;
    line-height: 20px;
	position: relative;
    text-transform: uppercase;
	border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    margin-bottom: 7px;
    padding-bottom: 7px;
	width: 95%;
}

.title-median {
    color: #636363;
    font-size: 20px;
    line-height: 20px;
    margin: 0 0 15px;
    text-transform: uppercase;
}

.social {
    -webkit-transform:scale(0.8);
    /* Browser Variations: */
    -moz-transform:scale(0.8);
    -o-transform:scale(0.8);
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
}

.social:hover {
    -webkit-transform:scale(1.1);
    -moz-transform:scale(1.1);
    -o-transform:scale(1.1);
}

/*
    Only Needed in Multi-Coloured Variation
                                               */

.social-fb:hover {
    color: #3B5998;
}

.social-tw:hover {
    color: #4099FF;
}

.social-gp:hover {
    color: #d34836;
}

.social-em:hover {
    color: #f39c12;
}

.nomargin {
    margin:0;
    padding:0;
}

.copyright {
    color: #fff;
    line-height: 30px;
    min-height: 30px;
    padding: 7px 0;
}

.design {
    color: #fff;
    line-height: 30px;
    min-height: 30px;
    padding: 7px 0;
    text-align: right;
}

.design a {
    color: #fff;
}

/* -------------------- */
/* -----Easter Egg----- */
/* -------------------- */

#easter-egg {
    pointer-events: none;
    position: fixed;
    top: 100%;
    left: 20%;
    z-index: 50;
    width: 60%;
    opacity: 0;
}

.easter-egg-on {
    opacity: 1 !important;
    -webkit-transition: all 2s ease-in-out, opacity .01s linear;
	-moz-transition: all 2s ease-in-out, opacity .01s linear;
	-o-transition: all 2s ease-in-out, opacity .01s linear;
	transition: all 2s ease-in-out, opacity .01s linear;

    -ms-transform: translate(0px, -90%); /* IE 9 */
    -webkit-transform: translate(0px, -90%); /* Safari */
    transform: translate(0px, -90%);
}

.easter-egg-off {
    opacity: 0;
    -webkit-transition: all 2s ease-in-out;
	-moz-transition: all 2s ease-in-out;
	-o-transition: all 2s ease-in-out;
	transition: all 2s ease-in-out;

    -ms-transform: translate(0px, 90%); /* IE 9 */
    -webkit-transform: translate(0px, 90%); /* Safari */
    transform: translate(0px, 90%);
}